
<div class="center jumbotron">
  <h1><%= @item.name %></h1>
  <%= link_to 'New Ingredient', new_recipe_ingredient_path %>
</div>

<table>
  <thead>
  <%= render 'row_header' %>

  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <% item = Item.find(ingredient.item_id) %>
      <%= render 'row', :ingredient => ingredient, :recipe => @recipe %>
    <% end %>
  </tbody>
</table>

<br>


