<% provide :title, 'About' %>
<div class="center jumbotron">
  <p>This website was constructed to contain the basics of a user login and auth system, to facilitate rapid development of future projects.</p>

  <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
</div>


