<% provide :title, 'About' %>
<div class="center jumbotron">
  <p>This website was developed to help me keep notes about crafting recipes
    I've discovered while playing The Witcher 3, as information on the internet
    is not currently well organized in a central location.</p>

  <p>
    Without major help with data entry, this will never be more than a small side project.
    Register an account if you want to help! Scout's honor, I won't use the email address
    for anything other than eventually adding a password-recovery function.
  </p>

  <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
</div>


