<% provide :title, 'Contact Us' %>
<h1>AF ContactUs</h1>
<p>This was developed as a hobby project by Chris Cox.
  If you are interested, you can email me at <a href="mailto:chriscox@abandonedfactory.net">chriscox@abandonedfactory.net</a>, or make feature requests/bug reports on the <a href="https://github.com/Klaital/rails-base">Github repo</a>.</p>
